body {
    background-color: lightblue;
  }
table, th, td {
  border: 1px solid red;
}
td {
  text-align: center;
}
th {
  background-color: blue;
  color: white;
}
div.relative {
  position: relative;
  left: 30px;
  border: 0px solid #73AD21;
}
