/* body {
    background-color: lightblue;
  } */
table, th, td {
  border: 4px solid black;
}
td {
  text-align: center;
  background-color: red;
  color:blaCK;
}
th {
  background-color: blue;
  color: white;
}
table {
  border-collapse: collapse;
}
#grad {
  background-image: linear-gradient(to bottom right blue,red);
}
body {
  /* height: 10000px; */
  background-image: linear-gradient(to bottom right, blue, red, yellow);
}